@using Web.Extensions
@using DomainEntities.ApplicationUserAggregate;
@using ApplicationCommon;

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] | پنل مدیریتی</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta content="" name="description" />
	<meta content="" name="author" />
	<environment names="Development">
		<link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
		<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
		<link href="~/css/ui-theme/vendors.bundle.rtl.css" rel="stylesheet" />
		<link href="~/css/ui-theme/style.bundle.rtl.css" rel="stylesheet" />
		<link href="~/lib/md.bootstrappersiandatetimepicker/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />

		<link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
		<link href="~/css/kendo/kendo.rtl.min.css" rel="stylesheet" />
		<link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
		<link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />

		<link href="~/fonts/fonts-fa.css" asp-append-version="true" rel="stylesheet" />
		<link href="~/css/ui-theme/layout-style.css" rel="stylesheet" />
	</environment>
	<environment names="Production">
		<link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
		<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
		@*<link href="~/css/crmapp.min.css" asp-append-version="true" rel="stylesheet" />*@
		<link href="~/css/ui-theme/vendors.bundle.rtl.css" rel="stylesheet" />
		<link href="~/css/ui-theme/style.bundle.rtl.css" rel="stylesheet" />
		<link href="~/lib/md.bootstrappersiandatetimepicker/dist/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />

		<link href="~/css/kendo/kendo.common.min.css" rel="stylesheet" />
		<link href="~/css/kendo/kendo.rtl.min.css" rel="stylesheet" />
		<link href="~/css/kendo/kendo.default.min.css" rel="stylesheet" />
		<link href="~/css/kendo/kendo.default.mobile.min.css" rel="stylesheet" />

		<link href="~/fonts/fonts-fa.css" asp-append-version="true" rel="stylesheet" />
		<link href="~/css/ui-theme/layout-style.css" rel="stylesheet" />
		<link href="~/css/site.css" rel="stylesheet" />

	</environment>

	@*<link rel="shortcut icon" href="favicon.ico" />*@
	<style>
		input {
			font-family: Verdana,Tahoma !important;
		}
	</style>
	@RenderSection("styles", false)
</head>
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
	<div class="m-grid m-grid--hor m-grid--root m-page">
		<!-- BEGIN: Header -->
		<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
			<div class="m-container m-container--fluid m-container--full-height">
				<div class="m-stack m-stack--ver m-stack--desktop">

					<!-- BEGIN: Brand -->
					<div class="m-stack__item m-brand  m-brand--skin-dark ">
						<div class="m-stack m-stack--ver m-stack--general">
							<div class="m-stack__item m-stack__item--middle m-brand__logo">
								<a href="" class="m-brand__logo-wrapper">
									<img src="~/images/ui-theme/logo3.png" width="120" height="50" title="بانک رفاه کارگران" />
								</a>
							</div>
							<div class="m-stack__item m-stack__item--middle m-brand__tools">

								<!-- BEGIN: Left Aside Minimize Toggle -->
								<a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block  ">
									<span></span>
								</a>

								<!-- END -->
								<!-- BEGIN: Responsive Aside Left Menu Toggler -->
								<a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
									<span></span>
								</a>

								<!-- BEGIN: Topbar Toggler -->
								<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
									<i class="flaticon-more"></i>
								</a>

								<!-- BEGIN: Topbar Toggler -->
							</div>
						</div>
					</div>

					<!-- END: Brand -->
					<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">

						<!-- BEGIN: Horizontal Menu -->
						<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>

						<!-- END: Horizontal Menu -->
						<!-- BEGIN: Topbar -->
						<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general m-stack--fluid">
							<div class="m-stack__item m-topbar__nav-wrapper">
								<ul class="m-topbar__nav m-nav m-nav--inline">
									<li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light" m-dropdown-toggle="click" id="m_quicksearch"
										m-quicksearch-mode="dropdown" m-dropdown-persistent="1">
										<a href="#" class="m-nav__link m-dropdown__toggle">
											<span class="m-nav__link-icon"><i class="flaticon-search-1"></i></span>
										</a>
										<div class="m-dropdown__wrapper">
											<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
											<div class="m-dropdown__inner ">
												<div class="m-dropdown__header">
													<form class="m-list-search__form">
														<div class="m-list-search__form-wrapper">
															<span class="m-list-search__form-input-wrapper">
																<input id="m_quicksearch_input" autocomplete="off" type="text" name="q" class="m-list-search__form-input" value="" placeholder="Search...">
															</span>
															<span class="m-list-search__form-icon-close" id="m_quicksearch_close">
																<i class="la la-remove"></i>
															</span>
														</div>
													</form>
												</div>
												<div class="m-dropdown__body">
													<div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-height="300" data-mobile-height="200">
														<div class="m-dropdown__content">
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									@await Component.InvokeAsync("Notification")
									<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
										m-dropdown-toggle="click">
										<a href="#" class="m-nav__link m-dropdown__toggle">
											<span class="m-topbar__userpic">
												<img src="/uploads/user-image/@(User.GetUserPicture())" class="m--img-rounded m--marginless" alt="" />
											</span>
											<span class="m-topbar__username m--hide">@User.GetUserFullName()</span>
										</a>
										<div class="m-dropdown__wrapper">
											<span class="m-dropdown__arrow m-dropdown__arrow--adjust"></span>
											<div class="m-dropdown__inner">
												<div class="m-dropdown__header m--align-center" style="background: url(/images/ui-theme/user_profile_bg.jpg); background-size: cover;">
													<div class="m-card-user m-card-user--skin-dark">
														<div class="m-card-user__pic">
															<img src="/uploads/user-image/@(User.GetUserPicture())" class="m--img-rounded m--marginless" alt="" />

															<!--
															<span class="m-type m-type--lg m--bg-danger"><span class="m--font-light">S<span><span>
															-->
														</div>
														<div class="m-card-user__details">
															<span class="m-card-user__name m--font-weight-500">@User.GetUserFullName() (@User.Identity.Name)</span>
															<a href="" class="m-card-user__email m--font-weight-300 m-link">mark.andre@gmail.com</a>
														</div>
													</div>
												</div>
												<div class="m-dropdown__body">
													<div class="m-dropdown__content">
														<ul class="m-nav m-nav--skin-light">
															<li class="m-nav__section m--hide">
																<span class="m-nav__section-text">Section</span>
															</li>
															<li class="m-nav__item">
																<a asp-action="UpdateProfile" asp-controller="UserManagement" asp-route-id="@User.Identity.Name" data-caption="ویرایش اطلاعات پروفایل" class="m-nav__link">
																	<i class="m-nav__link-icon flaticon-profile-1"></i>
																	<span class="m-nav__link-title">
																		<span class="m-nav__link-wrap">
																			<span class="m-nav__link-text">پروفایل من</span>
																			@*<span class="m-nav__link-badge"><span class="m-badge m-badge--success">2</span></span>*@
																		</span>
																	</span>
																</a>
															</li>
															<li class="m-nav__item">
																<a asp-action="AddDetail" asp-controller="ToDoTask" data-caption="تعریف وظیفه" class="m-nav__link">
																	<i class="m-nav__link-icon flaticon-share"></i>
																	<span class="m-nav__link-text">ایجاد وظیفه</span>
																</a>
															</li>
															<li class="m-nav__separator m-nav__separator--fit"></li>
															<li class="m-nav__item">
																<a asp-action="ChangePassword" asp-controller="UserManagement" data-caption="تغییر رمز عبور" class="m-nav__link">
																	<i class="m-nav__link-icon flaticon-lock"></i>
																	<span class="m-nav__link-text">تغییر رمز عبور</span>
																</a>
															</li>
															@if (!User.IsImpersonating() && (User.IsInRole(ApplicationRolesEnum.Admin.DescriptionAttr())
|| User.IsInRole(ApplicationRolesEnum.Developer.DescriptionAttr())))
															{
																<li class="m-nav__item">
																	<a asp-action="ImpersonateUser" asp-controller="UserManagement" data-caption="ورود به عنوان" class="m-nav__link">
																		<i class="m-nav__link-icon flaticon-logout"></i>
																		<span class="m-nav__link-text">ورود به عنوان</span>
																	</a>
																</li>
															}
															@if (User.IsImpersonating())
															{
																<li class="m-nav__item">
																	<a asp-action="StopImpersonation" asp-controller="UserManagement" class="m-nav__link">
																		<i class="m-nav__link-icon flaticon-info"></i>
																		<span class="m-nav__link-text">بازگشت به حساب اصلی</span>
																	</a>
																</li>
															}
															<li class="m-nav__separator m-nav__separator--fit"></li>
															<li class="m-nav__item">
																<a asp-action="Signout" asp-controller="UserManagement" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">خروج</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<!-- END: Topbar -->
					</div>
				</div>
			</div>
		</header>

		<!-- END: Header -->
		<!-- begin::Body -->
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

			<!-- BEGIN: Left Aside -->
			<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
			<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">

				<!-- BEGIN: Aside Menu -->
				<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" m-menu-vertical="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500" style="position: relative;">
					<ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow m-menu__nav-rolemenu" style="padding-bottom:0 !important;margin-bottom:0 !important;">
					</ul>
					<ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow" style="padding:0 !important">
						<li class="m-menu__item m-menu__item--submenu expert-performance-li" aria-haspopup="true" m-menu-submenu-toggle="hover">

						</li>
						<li class="m-menu__item m-menu__item--submenu expert-qualifications-li" aria-haspopup="true" m-menu-submenu-toggle="hover">

						</li>
					</ul>

				</div>

				<!-- END: Aside Menu -->
			</div>

			<!-- END: Left Aside -->
			<div class="m-grid__item m-grid__item--fluid m-wrapper">

				<!-- BEGIN: Subheader -->
				<div class="m-subheader">
					<div class="d-flex align-items-center">
						<div class="mr-auto">
							<h3 class="m-subheader__title m-subheader__title--separator">@ViewBag.Title</h3>
							<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
								<li class="m-nav__item m-nav__item--home">
									<a href="#" class="m-nav__link m-nav__link--icon">
										<i class="m-nav__link-icon la la-home"></i>
									</a>
								</li>
								<li class="m-nav__separator">-</li>
								<li class="m-nav__item">
									<a href="/home" class="m-nav__link">
										<span class="m-nav__link-text">داشبورد</span>
									</a>
								</li>
								@RenderSection("breadcrumb", false)
								<li class="m-nav__separator">-</li>
								<li class="m-nav__item">
									<a href="#" class="m-nav__link">
										<span class="m-nav__link-text">@ViewBag.Title</span>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<!-- END: Subheader -->
				<div class="m-content">
					@RenderBody()
				</div>
			</div>
		</div>
		<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" data-backdrop="static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body-parent">
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="dataModalDiagrams" tabindex="-1" role="dialog" data-backdrop="static">
			<div class="modal-dialog" style="min-width: 100%;">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">نمایش و ذخیره گراف</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div id="networkDiagramLayout" style="left:0px">
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body center-block">
						<i class="fa fa-spin fa-spinner fa-3x"></i>&nbsp;<label style="font-size:15px;">لطفا منتظر بمانید...</label>
						<hr />
					</div>
				</div>
			</div>
		</div>


		<footer class="m-grid__item m-footer ">
			<div class="m-container m-container--fluid m-container--full-height m-page__container">
				<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
					<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
						<span class="m-footer__copyright">
							طراحی و توسعه <a href="https://refah-td.com" class="m-link">شرکت رفاه پردیس</a>
						</span>
					</div>
					<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
						<ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
							<li class="m-nav__item">
								<a href="#" class="m-nav__link">
									<span class="m-nav__link-text">درباره ما</span>
								</a>
							</li>
							<li class="m-nav__item m-nav__item">
								<a href="#" class="m-nav__link" data-toggle="m-tooltip" title="راهنمایی" data-placement="left">
									<i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div id="m_scroll_top" class="m-scroll-top">
		<i class="la la-arrow-up"></i>
	</div>

	@*<script src="~/js/ui-theme/vendors.bundle.js"></script>
		<script src="~/js/ui-theme/scripts.bundle.js"></script>
		<script src="~/lib/bootstrap-select/dist/js/i18n/defaults-fa_IR.min.js"></script>
		<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="~/lib/jquery-validation-unobtrusive/src/jquery.validate.unobtrusive.js"></script>

		<script src="~/js/kendogrid.min.js" asp-append-version="true"></script>
		<script src="~/lib/md.bootstrappersiandatetimepicker/src/jquery.md.bootstrap.datetimepicker.js"></script>
		<script src="~/js/custom/custom.js"></script>*@


	<environment names="Development">
		<script src="~/js/ui-theme/vendors.bundle.js"></script>
		<script src="~/js/ui-theme/scripts.bundle.js"></script>
		<script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
		<script src="~/lib/bootstrap-select/js/i18n/defaults-fa_IR.min.js"></script>
		<script src="~/lib/jquery-validate/jquery.validate.js"></script>
		<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
		<script src="~/lib/md.bootstrappersiandatetimepicker/dist/jquery.md.bootstrap.datetimepicker.js"></script>
		<script src="~/lib/jquery.mask/jquery.mask.min.js"></script>

		<script src="~/js/kendogrid.min.js" asp-append-version="true"></script>
		<script src="~/js/custom/custom.js"></script>
	</environment>

	<environment names="Production">
		<script src="~/js/app.min.js" asp-append-version="true"></script>
		<script src="~/js/kendogrid.min.js" asp-append-version="true"></script>
	</environment>

	<script>
    kendo.culture("fa-IR");
    $(document).ready(function() {
        var currentPath = window.location.pathname;
        $('a[href="'+currentPath+'"]').parent().addClass('m-menu__item--active m-menu__item--open');
        $('a[href="' + currentPath + '"]').parentsUntil($('div')).parentsUntil($('li')).parent().addClass('m-menu__item--active m-menu__item--open');

        var expertPerformance = localStorage.getItem('expertPerformance');
        //console.log('expertPerformance', expertPerformance)
        if (expertPerformance=="true") {
            var expertPerformanceToken = localStorage.getItem('expertPerformanceToken');
            $('.expert-performance-li').append(
                `<a href="http://10.16.45.176/index_province/?t=${expertPerformanceToken}" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">سنجش عملکرد</span>
                </a>`);
        }

        var qualifications = localStorage.getItem('qualifications');
        if (qualifications == "true") {
            var qualificationsToken = localStorage.getItem('qualificationsToken');
            $('.expert-qualifications-li').append(
                `<a href="http://10.16.45.177/index.html?t=${qualificationsToken}" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">پنجره واحد تعیین صلاحیت شرکت ها</span>
                </a>`);
        }

		var qualifications_Second = localStorage.getItem('qualifications_Second');
		if (qualifications_Second == "true") {
            var QualificationsToken_Second = localStorage.getItem('QualificationsToken_Second');
            $('.expert-performance-li').append(
                `<a href="http://10.16.45.178/index.html?t=${QualificationsToken_Second}" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">انطباق عملکرد با شرح وظایف</span>
                </a>`);
        }
    });

    $.ajaxSetup({
        cache: false,
        "error": function(jqXhr, textStatus, errorThrown) {
            if (jqXhr.status === "403") {
                toastr["error"]("شما مجوز انجام این عملیات را ندارید!", "خطا");
            }
            if (jqXhr.status === "401") {
                const loginLocation = xhr.getResponseHeader('Location');
                if (loginLocation) {
                    window.location = loginLocation;
                } else {
                    window.location = "/account/signin";
                }
            } else {
                debugger;
                //eval(jqXhr.responseJSON.Message.replace("\r\n", "</br>"));
                toastr["error"](jqXhr.responseJSON.Message, "خطا رخ داده است!");
            }
        }
    });

    change_task_state();
    task_detail();

    function change_task_state() {
        if ($('#change-task-state').length > 0) {
            $.ajax({
                url: $("#change-task-state").data("url"),
                success: function(data) {
                    $("#change-task-state").html(data);
                }
            });
        }
    }

    function task_detail() {
        if ($('#task-detail').length > 0) {
            $.ajax({
                url: $("#task-detail").data("url"),
                success: function(data) {
                    $("#task-detail").html(data);
                }
            });
        }
    }

    if ($('#report-box').length > 0) {
        //report_box($('form#frmReportBox'));
        var $reportBox = $("#report-box");
        $reportBox.load($reportBox.data("url"));
    }

    function report_box(frm) {
        if ($('#report-box').length > 0) {
            $('button[perform=action]').prop('disabled', true);
            $('button[perform=action]').addClass("fa-spin");
            $.ajax({
                url: $("#report-box").data("url"),
                data: frm.serialize(),
                success: function(data) {
                    $("#report-box").html(data);
                    $('button[perform=action]').prop('disabled', false);
                    $('button[perform=action]').removeClass("fa-spin");
                }
            });
            window.report_chart('@Url.Action("ChartData", "Home")');
        }
    }

    $('#dataModal').on('shown.bs.modal',
        function() {
            $('.selectpicker').selectpicker();
            $.validator.unobtrusive.parse($("form"));

            @*var options = {
                url: function() {
                    return '@Url.Action("SearchText", "DefaultText")';
                },
                getValue: function(element) { return element.Text; },
                ajaxSettings: {
                    method: "POST",
                    data: { dataType: "json" }
                },
                preparePostData: function(data) {
                    data.phrase = $(".autocomplete").val();
                    data.typeId = $(".autocomplete").data("section");
                    return data;
                },
                requestDelay: 400
            };
            $(".autocomplete").easyAutocomplete(options);*@
        });

    $(document).on('change',
        '#selectDefaultText',
        function() {
            $("#Message").value = "";
            $("#Message").val($("#selectDefaultText option:selected").text());
        });

    $(document).on('click',
        'button[data-confirmation]',
        function(e) {
            e.preventDefault();
            if (confirm($(this).data("confirmation"))) {
                $.ajax({
                    url: $(this).data("href"),
                    type: "delete",
                    success: function(result) {
                        update_list(result);
                    }
                });
            }
        });
    //todo
    $(document).on('click',
        '#notification-item',
        function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).data("url"),
                type: "post",
                success: function(result) {
                    update_list(result);
                }
            });
        });

    function update_list(result) {

        if (result.Message) {
            eval(result.Message.replace("\r\n", "</br>"));
        }
        if (result.RefreshTaskGrid) {
            task_detail();
        }
        if (result.RefreshGrid) {
            //grid.dataSource.sync();
            $('#report-grid').data('kendoGrid').dataSource.read();
        }
        if (result.Redirect != null) {
            window.location.href = result.Redirect;
        }

        if (result.RefreshTicketGrid) {
            const $ticketList = $("#list");
            $ticketList.load($ticketList.data("url"));
            $('#report-grid').data('kendoGrid').dataSource.read();
        }
        $('#dataModal').modal('hide');
        return false;
    }

        function saveAndupdate(targetForm, targetUrl) {
        if (!targetForm.valid()) return false;
        targetForm.children('button[perform=action]').prop('disabled', true);
        targetForm.children('button[perform=action]').addClass("fa-spin");
        $.ajax({
            url: targetUrl,
            data: targetForm.serialize(),
            type: "Post",
            dataType: "json",
            success: function (result) {
                update_list(result);
                setTimeout(function() {
                        targetForm.children('button[perform=action]').prop('disabled', false);
                        targetForm.children('button[perform=action]').removeClass("fa-spin");
                    },
                    2000);
            }
        });
    }

        function saveAndupdateFile(targetForm, targetUrl) {
        if (!targetForm.valid()) return false;
        var progressEle = $("#progress");
        var formData = new FormData(targetForm[0]);
        formData.append('file', $('input[type=file]')[0].files[0]);
        $.ajax({
            url: targetUrl,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function() {
                $(`#${targetForm[0].id} button[perform=action]`).prop('disabled', true);
                $(`#${targetForm[0].id} button[perform=action]`).addClass("fa-spin");
            },
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress",
                    function(evt) {
                        if (evt.lengthComputable) {
                            var progress = Math.round((evt.loaded / evt.total) * 100);
                            progressEle.width(progress + "%");
                        }
                    },
                    false);
                return xhr;
            },
            success: function(result) {
                update_list(result);
                progressEle.css("background", "#2b3643");
            },
            complete: function() {
                setTimeout(function() {
                        $(`#${targetForm[0].id} button[perform=action]`).prop('disabled', false);
                        $(`#${targetForm[0].id} button[perform=action]`).removeClass("fa-spin");
                    },
                    2000);
            }
        });
    }

    $(document).on('click',
        'button[data-caption],a[data-caption]',
        function(e) {
            e.preventDefault();
            var title = $(this).data("caption");
            var url = $(this).attr("href") == null ? $(this).attr("formaction") : $(this).attr("href");
            $.ajax({
                url: url,
                success: function(result) {
                    $('#dataModal').modal('show');
                    $('.modal-title').html(title);
                    $('.modal-body-parent').html(result);
                }
            });
        });

    $(document).on('click',
        'button[data-link]',
        function () {
            const title = $(this).data("title");
            $.ajax({
                url: $(this).data("link"),
                success: function (result) {
                    $('#dataModal').modal('show');
                    $('.modal-title').html(title);
                    $('.modal-body-parent').html(result);
                }
            });
        });

    @*var options = {
        url: function() {
            return '@Url.Action("SearchByName", "Contact")';
        },
        getValue: function(element) { return element.Name; },
        ajaxSettings: {
            method: "POST",
            data: { dataType: "json" }
        },
        preparePostData: function() {
            return $(".contact-autocomplete").val();
        },
        requestDelay: 400
    };
        $(".contact-autocomplete").easyAutocomplete(options);*@
        function exportGridWithTemplatesContent(e){
        const data = e.data;
        const gridColumns = e.sender.columns;
        const sheet = e.workbook.sheets[0];
        const visibleGridColumns = [];
        const columnTemplates = [];
        var dataItem;
        // Create element to generate templates in.
        const elem = document.createElement('div');

        // Get a list of visible columns
        var i;
        for (i = 0; i < gridColumns.length; i++) {
            if (!gridColumns[i].hidden) {
                visibleGridColumns.push(gridColumns[i]);
            }
        }

        // Create a collection of the column templates, together with the current column index
        for (i = 0; i < visibleGridColumns.length; i++) {
            if (visibleGridColumns[i].template) {
                columnTemplates.push({ cellIndex: i, template: kendo.template(visibleGridColumns[i].template) });
            }
        }

        // Traverse all exported rows.
        for (i = 1; i < sheet.rows.length; i++) {
            const row = sheet.rows[i];
            // Traverse the column templates and apply them for each row at the stored column position.

            // Get the data item corresponding to the current row.
            dataItem = data[i - 1];
            for (let j = 0; j < columnTemplates.length; j++) {
                const columnTemplate = columnTemplates[j];
                // Generate the template content for the current cell.
                elem.innerHTML = columnTemplate.template(dataItem);
                if (row.cells[columnTemplate.cellIndex] != undefined)
                // Output the text content of the templated cell into the exported cell.
                    row.cells[columnTemplate.cellIndex].value = elem.textContent || elem.innerText || "";
            }
        }
    }

        $(document).on('click', '#deleteSelection', function () {
            var checked = [];
            for(var i in checkedIds){
                if(checkedIds[i]){
                    checked.push(i);
                }
            }
            if(checked.length>0){
                if (confirm("آیا از حذف رکوردهای انتخابی اطمینان دارید؟")) {
                    $('#deleteModal').modal('show');
                    $.ajax({
                        url: $(this).data("url"),
                        type: "delete",
                        data: { ids: checked },
                        success: function(result) {
                            update_list(result);

                        },
                        complete :function(data) {
                            checkedIds = {};
                           hideModal();
                        },
                        error:function(data) {
                        }
                    });
                }
            }
        });

        function hideModal() {
          $("#deleteModal").removeClass("in");
          $(".modal-backdrop").remove();
          $("#deleteModal").hide();
        }

        var checkedIds = {};

        function selectRow() {
            var checked = this.checked,
            row = $(this).closest("tr"),
            grid = $("#report-grid").data("kendoGrid"),
            dataItem = grid.dataItem(row);

            checkedIds[dataItem.Id] = checked;
            if (checked) {
                row.addClass("k-state-selected");
                } else {
                row.removeClass("k-state-selected");
            }
        }


    function parseMenu(ul, menu) {
        for (let i=0;i<menu.length;i++) {
            if (menu[i].Items != null) {
                const li = $(`<li class="m-menu__item m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">`);
                $(li).append(
                        `<a href="javascript:;" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-icon ${menu[i].Icon}"></i>
                            <span class="m-menu__link-text">${menu[i].Text}</span>
                            <i class="m-menu__ver-arrow la la-angle-left"></i>
                        </a>`);

                const subul = $('<div class="m-menu__submenu"><span class="m-menu__arrow"></span>');
                const innerUl = $('<ul class="m-menu__subnav">');
                $(subul).append(innerUl);
                $(li).append(subul);
                $(ul).append(li);
                parseMenu($(innerUl), menu[i].Items);
            } else {
                if (menu[i].Icon) {
                    $(ul).append(
                        `<li class="m-menu__item" aria-haspopup="true">
                            <a href="${menu[i].Link}" class="m-menu__link">
                                <i class="m-menu__link-icon ${menu[i].Icon}"><span></span></i>
                                <span class="m-menu__link-text">
                                    <span class="m-menu__link-wrap"><span class="m-menu__link-text">${menu[i].Text}</span></span>
                                </span>
                        </a></li>`);
                } else {
                    $(ul).append(
                        `<li class="m-menu__item" aria-haspopup="true">
                            <a href="${menu[i].Link}" class="m-menu__link">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">${menu[i].Text}</span>
                        </a></li>`);
                }
            }
        }
    }
        var menu = $('.m-menu__nav-rolemenu');
        var retrievedObject = JSON.parse(localStorage.getItem('panelMenu'));
    parseMenu(menu, retrievedObject);
	</script>
	@RenderSection("scripts", required: false)
</body>
</html>