@using Web.Core.RegisterEmployee.ViewModels
@model List<Employee>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h5>ثبت تکی کارمندان</h5>
                </div>
                <div class="card-body">
                    <form asp-controller="RegisterEmployee" asp-action="SendSimpleData" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nationalCode">کد ملی کارمند</label>
                                    <input class="form-control" type="text" name="nationalCode" id="nationalCode" placeholder="کد ملی کارمند" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="statusCode">وضعیت کارمند</label>
                                    <select class="form-control" name="statusCode" id="statusCode">
                                        <option value="1">کارمند</option>
                                        <option value="0">غیر کارمند</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-sm btn-success">ثبت</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">
                    <h5>ثبت کارمندان توسط فایل</h5>
                </div>
                <div class="card-body">
                    <form action="/RegisterEmployee/Index" method="post" class="text-left form-validate" enctype="multipart/form-data">
                        <br />
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>انتخاب نوع اشخاص</label>
                                    <select name="empStatus" class="form-control">
                                        <option value="1">کارمند</option>
                                        <option value="0">غیر کارمند</option>
                                    </select>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="btn btn-outline-primary btn-sm">
                                    انتخاب فایل
                                    <input type="file" name="XlsFile" id="fileInput" hidden required />
                                </label>
                                <button class="btn btn-outline-primary btn-sm">بارگذاری</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br />
            @if (Model != null)
            {

                <form action="/RegisterEmployee/SendExcellData" method="post">
                    <input type="text" name="addressFile" hidden value="@ViewBag.AddressFile" />
                    <input type="text" name="empStatus" hidden value="@ViewBag.EmpStatus" />
                    <button class="btn btn-success btn-block">ارسال نهایی</button>
                </form>
                if (ViewBag.MessageFaild != null)
                {
                    <h5 class="bg-danger">@ViewBag.MessageFaild</h5>
                }
            }
            <br />
            @if (Model != null)
            {

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-hover table-bordered text-center">
                            <thead>
                                <tr class="bg-info">
                                    <th>کد ملی</th>
                                    <th>نوع کارمند</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in Model)
                                {
                                    <tr>
                                        <td>@data.nationalCode</td>
                                        <td>@data.employeeStatus</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {


            setTimeout(function () {
                $('#successMessage').fadeOut(1500);
            }, 2000);




        });
    </script>
}