@using ApplicationCommon
@using DomainEntities.ToDoTaskAggregate
@using DomainEntities.NotificationAggregate
@model Tuple<List<ToDoTaskNotificationListDto>, List<NotificationItem>>

<li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--mobile-full-width" m-dropdown-toggle="click"
    m-dropdown-persistent="1">
    <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
        @if (@Model.Item2.Any(o => !o.IsRead))
        {
            <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
        }
        <span class="m-nav__link-icon"><i class="flaticon-alarm"></i></span>
    </a>
    <div class="m-dropdown__wrapper">
        <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
        <div class="m-dropdown__inner">
            <div class="m-dropdown__header m--align-center" style="background: url(/images/ui-theme/notification_bg.jpg); background-size: cover;">
                <span class="m-dropdown__header-title">@Model.Item2.Count(o => !o.IsRead) جدید</span>
                <span class="m-dropdown__header-subtitle">اطلاع رسانی های کاربر</span>
            </div>
            <div class="m-dropdown__body">
                <div class="m-dropdown__content">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
                                اطلاع رسانی
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_events" role="tab">وظایف</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
                            <div class="m-scrollable" data-scrollable="true" data-height="250" data-mobile-height="200">
                                <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items">
                                        @if (Model.Item2.Any())
                                        {
                                            foreach (var item in Model.Item2)
                                            {
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
                                                    <span class="m-list-timeline__text">@item.Text</span>
                                                    <span class="m-list-timeline__time">@item.EntryDateTime.RelativeDate()</span>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="tab-pane" id="topbar_notifications_notifications" role="tabpanel">
                                                <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                                                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                                        <span class="">همه چی مرتب است!<br>رویداد جدیدی وجود ندارد</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @*<div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">System shutdown <span class="m-badge m-badge--success m-badge--wide">pending</span></span>
                                                <span class="m-list-timeline__time">14 mins</span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">New invoice received</span>
                                                <span class="m-list-timeline__time">20 mins</span>
                                            </div>
                                            <div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge"></span>
                                                <span class="m-list-timeline__text">DB overloaded 80% <span class="m-badge m-badge--info m-badge--wide">settled</span></span>
                                                <span class="m-list-timeline__time">1 hr</span>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                            <div class="m-scrollable" data-scrollable="true" data-height="250" data-mobile-height="200">
                                <div class="m-list-timeline m-list-timeline--skin-light">
                                    <div class="m-list-timeline__items">
                                        @if (Model.Item1.Any())
                                        {
                                            foreach (var item in Model.Item1)
                                            {
                                                <div class="m-list-timeline__item">
                                                    <span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
                                                    <a asp-action="Detail" asp-controller="ToDoTask" asp-route-id="@item.Id" class="m-list-timeline__text">@item.Title</a>
                                                    <span class="m-list-timeline__time">@item.DueDateTime</span>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
                                                <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                                                    <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                                                        <span class="">همه چی مرتب است!<br>رویداد جدیدی وجود ندارد</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @*<div class="m-list-timeline__item">
                                                <span class="m-list-timeline__badge m-list-timeline__badge--state1-danger"></span>
                                                <a href="" class="m-list-timeline__text">New invoice received</a>
                                                <span class="m-list-timeline__time">20 mins</span>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<ul class="dropdown-menu">
                    <li class="external">
                        <h3>اعلانات <span class="bold">(@Model.Count(o => !o.IsRead))</span></h3>
                        <a asp-controller="Notification" asp-action="Index">مشاهده همه</a>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                            @foreach (var item in Model)
                            {
                                <li>
                                    <a id="notification-item" data-url="@Url.Action("SelectedItem", "Notification", new {id = item.Id})">
                                        <span class="time">@item.EntryDateTime.RelativeDate()</span>
                                        <span class="details">
                                            @if (item.CategoryId == (int)CategoryEnum.PostedTask || item.CategoryId == (int)CategoryEnum.ChangeTaskState || item.CategoryId == (int)CategoryEnum.DateOfDuty)
                                            {
                                                <span class="label label-sm label-icon label-info">
                                                    <i class="fab fa-telegram-plane"></i>
                                                </span>
                                            }
                                            else if (item.CategoryId == (int)CategoryEnum.DateOfTest)
                                            {
                                                <span class="label label-sm label-icon label-success">
                                                    <i class="far fa-clock"></i>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="label label-sm label-icon label-info">
                                                    <i class="far fa-bell"></i>
                                                </span>
                                            }

                                            @if (item.IsRead)
                                            {
                                                @item.Text
                                            }
                                            else
                                            {
                                                <b>@item.Text</b>
                                            }
                                        </span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>*@


            @*<div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
                    <div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
                        <div class="m-stack__item m-stack__item--center m-stack__item--middle">
                            <span class="">All caught up!<br>No new logs.</span>
                        </div>
                    </div>
                </div>*@


        </div>
    </div>
</li>