@model Web.Core.ExcelFormats.ViewModels.ExcelFormatViewModel

<form asp-controller="ExcelFormatsController" asp-action="AddDetail" id="frmExcelFormatsDetail" method="post">
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <input hidden asp-for="Id" />
                <input hidden asp-for="HeaderId" />
                <div class="form-group col-md-12">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" readonly class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="SourcePan" class="control-label"></label>
                    <select asp-for="SourcePan" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TargetPan" class="control-label"></label>
                    <select asp-for="TargetPan" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="TransactionDate" class="control-label"></label>
                    <select asp-for="TransactionDate" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TransactionTime" class="control-label"></label>
                    <select asp-for="TransactionTime" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Tel" class="control-label"></label>
                    <select asp-for="Tel" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Amount" class="control-label"></label>
                    <select asp-for="Amount" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="UserAgent" class="control-label"></label>
                    <select asp-for="UserAgent" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IpAddress" class="control-label"></label>
                    <select asp-for="IpAddress" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="RefNumber" class="control-label"></label>
                    <select asp-for="RefNumber" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Application" class="control-label"></label>
                    <select asp-for="Application" asp-items="@Model.PropList" class="form-control">
                        <option>لطفا انتخاب کنید...</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">خروج</button>
                @{ var url = Model.Id > 0 ? Url.Action("EditDetail", "ExcelFormats") : Url.Action("MapColumns", "ExcelFormats");}
                <button onclick="event.preventDefault();saveAndupdate($(this.form), '@url');" type="button" class="btn btn-primary">ذخیره</button>

            </div>
        </div>
    </div>
</form>


<script>
    $(document).ready(function() {
       $("#files").kendoUpload();
    });
    function saveOrUpdate(){
        var formData = new FormData();
            formData.append("file", $("#upLoadFile")[0].files[0]);
            formData.append("Title",$("#Title").val());
            var _url = '@Url.Action("AddDetail", "ExcelFormats")';
            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    update_list(result);
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                }
            });
        }
</script>